#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Top Header */
.top-header {
  width: 100%;
  height: 290px;
  background-color: #141414; 
  background-image: url("https://img.freepik.com/free-photo/client-dark-vip-cinema-studio_23-2149500542.jpg?t=st=1729728451~exp=1729732051~hmac=4cdd6d858bbc349a5c92a9efa4db07e13471a3ec91fafef202384f61033284a5&w=1060");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* App Title */
.app_title {
  font-size: 48px; 
  color: #e50914; 
  margin: 20px 0;
  margin-top: 122px;
  text-shadow: 
      -1px -1px 0 #fff,  
       1px -1px 0 #fff,
       -1px 1px 0 #fff,
       1px 1px 0 #fff; 
  font-family: 'Cinzel', serif; 
}


/* Search Container */
.search-continer {
  margin: 20px 0; 
  text-align: center;
}

/* Search Input */
.search-continer input {
  width: 100%;
  max-width: 400px; 
  padding: 10px; 
  border: 2px solid #e50914; 
  border-radius: 4px; 
  font-size: 18px; 
  background-color: #333; 
  color: white; 
  outline: none; 
  transition: border-color 0.3s; 
}

.search-continer input::placeholder {
  color: #999; 
}

.search-continer input:focus {
  border-color: #b20710; 
}